/* 
    Tämä on meidän ryhmän yhteinen css -tiedosto

    Authors     : Teemu Leinonen, Teija Lämpsä, Maria Järvinen, Heidi Risto
                  Mervi Heikkinen, Kati Mäkelä, Juuso Kuusisto, Niina Panula
    
*/
/*sivun yleiset muotoilut ja fontit */
main {
    padding: 10px;
}

body {
    background-color: #F0EBD8;
    font-family: 'Open Sans', sans-serif;
}
header,
footer{
    background-color: black;
    padding-top: 1em;
    color: #F0EBD8;
    border: 20px solid darkgoldenrod;
    border-radius: 20px;
    margin: 20px;
}
section {
    border: 20px solid silver;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    overflow: hidden;
}
footer {
    font-family: 'Walter Turncoat', cursive;
    font-size: 18px;    
}
footer div {
    background-color: green;
}
h1, h2, h3, #index a {
    font-family: 'Mansalva', cursive;
}
index {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
    color: red;
    font-size: 2.4vmax;
}
h2 {
    color: blue;
    font-size: 2.4vmax;
}
h3 {
    color: green;
    font-size: 2.4vmax;
}
img {
    max-width: 100%;
}

/*navigaation muotoilut */
nav {
    background-color: green;
    font-family: 'Walter Turncoat', cursive;
    font-size: 30px;
}
.nav-item {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;

}
.nav-link {
    color: rgba(240,235,216,1)!important;
}
.nav-link:hover {
    color: rgba(0,0,0,1)!important;

}
.btn-link{
    color: rgba(240,235,216,1) !important;
}
.btn-link:hover {
    color: rgba(0,0,0,1)!important;

}
.btn{
    text-decoration: none !important;
}

.navbar-toggler {
    border-color: rgba(0,0,0,1) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0,0,0,1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
a {
    color: red !important;
    text-decoration: none;
}
a:hover {
    color: blue !important;
    text-decoration: none;
}

.fa-arrow-left,
.fa-arrow-right {
    color: snow !important;
}
/*takasivun teksti*/
.taka{
    font-family: 'Walter Turncoat', cursive;
    font-size: 18px; 
    margin: 10px;
}

.taka-btn {
    color: snow !important;
}

/*etusivun animaatio*/
.anim-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.anim-area i{
    position: absolute;
    display: block;
    list-style: none;
    animation: animate linear 5s infinite;
    font-size: 150px;
    opacity: 0.25;
}
.anim-area i:nth-child(1){
    left: 110%;
    top: 35%;
    animation-delay: 1s;
}
.anim-area i:nth-child(2){
    left: 110%;
    top: 50%;   
    animation-delay: 3s;
}
.anim-area i:nth-child(3){
    left: 110%;
    top: 65%;

    animation-delay: 5s;
}
.anim-area i:nth-child(4){
    left: 110%;
    top: 80%;   
    animation-delay: 2s;
}
.anim-area i:nth-child(5){
    left: 110%;
    top: 95%;   
    animation-delay: 4s;
}
video {
    max-width: 100%;
}

@keyframes animate{
    0%{
        transform: translateX(-100px) translateY(0) rotate(0deg);
    }
    20%{
        transform: translateX(-400px) translateY(-200px) rotate(72deg);
        color: yellow;
        font-size:150px;
    }
    40%{
        transform: translateX(-700px) translateY(-250px) rotate(144deg);
        color: blue;
        font-size:170px;
        opacity: 0.2
    }
    60%{
        transform: translateX(-1000px) translateY(-200px) rotate(216deg);
        color: purple;
        font-size:150px;
        opacity: 0.15
    }
    80%{
        transform: translateX(-1300px) translateY(-100px) rotate(288deg); 
        color: pink;
        font-size:170px;
        opacity: 0.1
    }
    100%{
        transform: translateX(-1600px) translateY(0) rotate(360deg);
        opacity: 0;
    }
}
/*ei animaatioita puhelimella*/
@media only screen and (max-width : 768px) {
    .anim-area i{       
        animation: none;
    }
}/*etusivun animaation loppu*/
