/* 
    Created on : 30.3.2020, 21:58:26
    Author    : Heidi Risto
*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* oman visan asettelua, taustaväriä jne: */
.oma_visa {
    background-color: #7fffd4;
    margin-left: auto;
    margin-right: auto;
}

div.omat{
    padding-top: 15px;
    padding-bottom: 0px;
    max-width: 600px;
}

.omat {
    border: none;
    background-color: #7fffd4;
    margin-left: 5px;
    margin-right: 5px;
}

/* Ympäristöopin visan otsikolle omat jutut tässä: */
.otsikko {
    max-width: 950px;
    background-color: #009966;
    border-radius: 20px;
    margin: 5px;
    padding: 5px 5px 0px 5px;
}

/* Saatetekstille myös */
.saate {
    max-width: 950px;
    margin-top: 20px;
    background-color: #7fffd4;
}

/* Nappien muotoilua ja asettelua: */
button {
    display: block; 
    padding: 10px 15px 10px 15px;
    font-family: 'Gochi Hand', cursive;
    font-size: 26px;
    border-radius: 10px;
    margin-left: 5px;
}

.seuraava {
    max-width: 600px;
}

.btn-info {
    color: white !important;
    margin-top: 30px;
}

/* Laskurille pientä asettelua */
#nro {
    padding-left: 10px;
}

/* Fonttien määrittelyjä: */
h1 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 4.5em;
    color: white;
}

.palkintofontti {
    color: black;
}

h3 {
    font-family: 'Gochi Hand', cursive;
    font-size: 28px;
    margin-left: 10px;
    color: black;
}

.erifontti li {
    font-family: 'Gochi Hand', cursive;
    font-size: 22px;
    margin-left: 20px;
}

/* Visan selostus-kappaleiden fonttien ja marginaalien määritystä: */
p {
    font-family: Tahoma;
    font-size: 18px;
    margin: 10px 10px 10px 10px;
}

/* Listasta pallukat pois */
ul {
    list-style-type: none;
}

/* Kuvien ja kuvatekstien asettelua: */
img {
    max-width: 100%;
}

figcaption {
    padding-left: 10px;
}

figure {
    width: 60% !important;
}

/* Visassa oikean ja väärän vastauksen merkitseminen mm. taustaväreillä ja 
fontin paksuudella*/
.valittu {
    background-color: #4dff4d;
}

.väärin {
    background-color: #ff3333;
    color: white;
}

.oikein {
    font-weight: bold;
    font-size: 26px;
}

/* Jotta eri sisällöt pysyvät piilossa, kunnes niitä tarvitaan: */
.piilossa {
    display: none;
}

/* Koska itselläni p:lle eri asettelut, piti nämä ottaa uusiksi, jotta fontti
footerissa sama kuin muidenkin sivuilla */
footer p {
    font-family: 'Walter Turncoat', cursive;
    font-size: 18px;    
}



/* Matikkavisan tyylit tästä alaspäin: */

/* Fontille eri väri kuin ympäristöopin visassa, sekä lihavointi */
.matikkafontti {
    color: black;
    font-weight: bold;
}

/* Laskun tulostuksen ja vastauksen ulkoasut: */
#lasku {
    font-family: 'Permanent Marker', cursive;
    font-size: 66px;
}

#vastaus {
    font-family: 'Permanent Marker', cursive;
    font-size: 66px;
    border: 5px solid black;
    border-radius: 10px;
}

/* fontin värinvaihto oikeiden ja väärien vastausten mukaan */
.oikein_matikka {
    color: green;
}

.väärin_matikka {
    color: red;
}

/* uudestaan-napille pientä asettelua */
#uudestaan {
    margin-bottom: 20px;
}
