/* 
    Created on : 30.3.2020, 21:59:02
    Author     : Juuso Kuusisto
*/

/*Värit:
väärä vastaus: #ff0000
oikea vastaus: #1f7a1f;
bg väärä: #e0e0d1;
bg oikea: #99e6ff
fontti: font-family: 'Permanent Marker', cursive;
*/

body {
    font-family: 'Permanent Marker', cursive; 
    /*Määritetään sivujen perusfontti*/
}

section {
    font-size: 140%;
    /*Suurennettu fontti, ellei muuten määritetty*/
}

img {
    max-width: 60%;
    max-height: 60%;
    /*Asetetaan käytettävien kuvien koko pienemmäksi kuin alkuperäinen*/
}

.invisible {
    display: none;
    /*Luokka jota käytetään kun halutaan piilottaa elementti*/
}

.lahde {
    font-size: 60%;
    /*Lähteiden fontti pienemmäksi*/
}
.wrong {
    font-size: 115%;
    color: #ff0000;
    font-weight: bold;
    background-color: #e0e0d1;
    border-radius: 10px;
    /*Määritetään tyyli, kun vastaus on väärin*/
}

.right {
    font-size: 115%;
    color: #1f7a1f;
    font-weight: bold;
    background-color: #99e6ff;
    border-radius: 10px;
    /*Määritetään tyyli, kun vastaus on oikein*/
}

button {
    font-family: 'Permanent Marker', cursive;
    /*Vaihdetaan käytettyjen nappien fonttia*/
}

h4 {
    font-family: 'Mansalva', cursive;
    color: green;
    font-size: 2vmax;
    /*Määritetään h4 otsikolle omat määritteet*/
}

#again {
    align-content: center;
}

/*Matematiikka tehtävän spesifit määrittelyt*/

.prizes {
    border: none;
    /*Palkinnoilla ei rajaa, kun käytetty omaa section tagia*/
} 

#calculation {
    font-family: 'Permanent Marker', cursive;
    font-size: 2vmax;
    /*Fontti määrittely elementille*/
}

#answer {
    max-height: 100px;
    max-width: 100px;
    font-size: 2vmax;
    /*Vastausboksin kokomäärittely*/
}

video {
    max-width: 100%;
    /*Palkinto-videon koko, jotta ei mene reunan yli mobiililaitteella*/
}

/*Määritellään spesifit tyylit kun näytönkoko pienenee*/
@media only screen and (max-width : 768px) {
    .list1 {
    list-style: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6vmax;
    }
    
    #answer {
    height: 40px;
    width: 60px;
    font-size: 2vmax;
    }
    }
