/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.4.2020, 10:41:42
    Author     : katim
*/
/* määrittelyjä tehtävän kortille*/
.card{
    border: 5px solid darkgoldenrod;
    border-radius: 10px;
    background-color: #F0FFFF;
    background: linear-gradient(to top left, #66ffcc 0%, #ffffcc 100%);
    
    
}
.taulu{
   max-width: 60%;
    border: 10px solid darkgoldenrod;
    border-radius: 30px;
}
/*monivalinnan numeroiden määritykset*/
label{
     font-size: 60px; 
      font-family: 'Walter Turncoat', cursive;
       text-shadow: 4px 4px 4px #aaa;
       color: green;
}

/* hävittää monivalinnan luettelomerkit*/
.not_visible {
    display: none;
}

.asia{
     
    
     padding: 20px;
         
}

/* tähän määritykset laatikolle, johon tulee arvottava numero*/
.laatikko{
   background-color: yellow;
     width: 100px ;
    height: 100px ;
    font-family: 'Walter Turncoat', cursive;
    font-size: 60px; 
   border-radius: 100px;
 color: blue;
     
}
/* vastus laatikon määrittelyt*/
.loota{
     
     width: 100px ;
    height: 100px ;
    font-family: 'Walter Turncoat', cursive;
    font-size: 60px; 
    border-radius: 100px;
    background-color: orange;
    border: none;
      color: blue;
      padding-left: 30px;
}

/* oikean vastauksen "laatikon määritykset"*/
.latikko{
     width: 100px ;
    height: 100px ;
    font-family: 'Walter Turncoat', cursive;
    font-size: 60px; 
     color: blue;
     border-radius: 100px;
}
/* tarkistusnapin jälkeen vastauksen tausta vaihtaa väriä*/
.right{
    background-color: greenyellow;
}
.wrong{
    background-color: red;
}

h4{
     font-family: 'Walter Turncoat', cursive;
     color: green;
}
/* värimääritys vastaukselle vastauksen palkinnolle*/
.oikein{
    color: green;
}
.väärin{
    color: red;
}
