/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.3.2020, 21:58:43
    Author     : Kati Mäkelä
*/

/*Määrittelyt kortin taustalle*/
.card{
    border: 5px solid darkgoldenrod;
    border-radius: 10px;
     background: linear-gradient(to top left, #ccffff 0%, #ffffcc 100%);
    
    
}
h4{
     font-family: 'Walter Turncoat', cursive;
     color: green;
}
.card div{
    padding-bottom: 10px;
    
    
}
/* hevoskuvalle määrittelyt*/
.heppa{
   max-width: 40%;
    border: 10px solid silver;
    border-radius: 30px;
}

.selected {
    color: deepskyblue;
    color: white;
}
/* väärän vastauksen väri*/
.wrong {
    background-color: red;
}
/*oikealle vastaukselle väri*/
.right {
    background-color: green;
    font-weight: bold;
}

.not_visible {
    display: none;
}
