/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.3.2020, 21:58:18
    Author     : Maria Järvinen
*/
/*visan valinnoille ja oikealle/väärälle tunnusmerkit*/
.valittu {
    background-color: lightseagreen;
    border-radius: 5px;
}

.väärin {
    background-color: red;
    border-radius: 5px;
}

.oikein {
    font-weight: bold;
    background-color: lightgreen;
    border-radius: 5px;
}

.not_visible {
    display: none;
}
/*listamerkit pois*/
ul li{
    list-style: none;
}
/*fontit*/
.tausta,
.alku{
    font-family: 'Walter Turncoat', cursive;
    font-size: 18px; 
    margin: 10px;
}
/*tuloksen ilmoitus*/
.laskurit{ 
     font-family: 'Mansalva', cursive;
     color: green;
     font-size: x-large;
}
.nappi{ /*aloita visa nappi */
    align-self: center;
    height: 40px;
    width: 120px;
}

.teksti{
    color:#10707f;
}
img{ /*kuvien koot visassa*/
    height: 400px;
    width: 400px;
}
/*laskutoimituksen ruudut*/
.laatikko{
    width: 100px !important;
    height: 100px !important;
    font-family: 'Walter Turncoat', cursive;
    font-size: 60px; 
    border-style: dotted;
}
.laatikko2{
    width: 100px !important;
    height: 100px !important;
    font-family: 'Walter Turncoat', cursive;
    font-size: 60px; 
    border-style:solid;
    padding-left: 5px;
}
.palkinto{
    align-self: center;
}
/*matikka tehtävän palkintojen värejä*/
.fa-heart,
.fa-times-circle{
    color:red;
}
.fa-smile-beam{
    color:green;
}
/*visa kuvien lähde*/
figcaption{
    font-size: small;
}