/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.3.2020, 21:58:35
    Author     : Mervi Heikkinen
*/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Girassol|Indie+Flower&display=swap');

h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 2.4vmax;
}
h5 {
    font-family: 'Lato', sans-serif;
    
}
.selected {
    background-color: deepskyblue;
    color: black;
}
/*väärän vastauksen väri*/
.wrong {
    background-color: palevioletred;
}
/*oikean vastauksen väri*/
.right {
    font-weight: bold;
    background-color: lightgreen;
}

.not_visible {
    display: none;
}
/*Font Awesome kuvakkeiden asetukset*/
.fa {
    color: blue;
}
.fa-book {
    color: red;
}
.fa-thumbs-o-up {
    color:green;
    font-size: 8vmax;
    text-align: center;
}
.fa-heart{
    color:red;
    font-size: 8vmax;
    text-align: center;
}
.fa-heart-o {
    color:red;
    font-size: 8vmax;
    text-align: center;
}
.fa-smile-o {
    color:yellow;
    font-size: 8vmax;
    text-align: center;
}
/*visatehtävän p.elementin fontti ja koko*/
.p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2vmax;
}
/*lisää FA kuvakkeita*/
.fa-question{
    color: white;
}
.fa-divide{
    color: white;
}
img {
    max-width: 30%
}