/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8.4.2020, 18:42:41
    Author     : OMISTAJA
*/

/*.container{
    width: 800px;
    max-width: 80%
    padding :10px;
  
    box-shadow:0 0 10px 2px;
}
.btn-gird{
    display: grid;
    grid-template-columns:repeat(2,auto); // 2 vierekkäin
    gap:20px;
    margin: 20px 0;
    
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;*/
/*    
}
.btn{
/*    border: 1px solid;*/
/*    border-radius:5px;*/
/*    padding: 5px 10px;
    
    padding: 30px;*/
/*    margin: 10px;
    background-color:bisque;
   
    font-size: 20px;
    
}
.btn:hover{
    border-color:black;
}
.btn.correct{
    --hue: let(--hue-correct);
}
.btn.correct{
    --hue: let(--hue-wrong);*/
/*}
.container{
    width: 800px;
    max-width:80%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}
.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px
}
#quizz{
    font-family: "Comic Sans MS";
    font-size: 25px;
}*/


.selected{
    background-color: lightcyan;
}
.not_visible{

    display: none;
}
.right{
    font-weight: bold;
    background-color:greenyellow;   
}
.wrong{
    background-color: darkred;
}
.football img{
    max-width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.helmitaulu img{
    max-width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: solid ;
    border-radius: 5px;


}
.front{
    background-image: url("../img/liitutaulu.png");

    background-repeat: no-repeat;

    background-size: cover;
}
section p{
    display: inline;
    font-size: 90px;
}
input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 80px;
    color: white;
    max-width: 100px;

}
button{
    border: 1px solid;
    

    border-radius:5px;
    padding: 5px 10px;
}
#palkinto{
    font-size: 50px;
}
#oikeatvastaukset{
    p{
        font-size: 30px;
    }
}

