/* 
    Created on : 31.3.2020, 11.33.47
    Author     : Teemu
*/ 

header h1{
    font-family: 'Walter Turncoat', cursive; font-size: 3vmax; color: #F0EBD8;;
}
#quiz{
    padding: 0;
    margin: 0;    
    justify-content: center;    
    text-align: center;  
    overflow: hidden;
}
#quiz .btn{
    font-size: 22px;    
}
.btn-grid{
    padding: 4vw;
}
.hide{
    display: none;
}
#info{
    text-align: start;
    padding: 22px;
}
#info2{
    font-size: 1.3vmax; 
    top: 0;
    text-align: left;   
    margin: 15px;
}
#score{   
    font-size: 5vw;   
    font-weight: bold;
}
#question-container{
    font-size: 2vmax;
    overflow-wrap: break-word;   
}
#start-btn, #start-btn-math{
    align-self: center;
    position: absolute;
    height: 70px;
    width: 120px;
    font-size: 22px; 
}
#answer-buttons{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
#answer{
    margin: 0.5vh;
}
#bottom{
    height: 10%;
}
section{
    justify-content: center;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#explanation{       
    font-size: 2vmax;
    overflow-wrap: break-word; 
}
#start_text, #start_text2{
    font-size: 3vmax;
}
#start_text2{
    top: -20%;
}
#arrows, #arrows2{
    position: absolute;
    align-self: flex-end;
}
#arrows2{
    padding-left: 20px;
    padding-right: 20px;
}
#math{   
    margin: 0;    
    justify-content: center;    
    text-align: center;
    align-content: center;   
    font-size: 4vmax; 
}
#correct_answer{
    font-size: 18px;
    height: 10px;
}
#options{
    align-self: center;
    justify-content: center;
    top: 15%;
    font-size: 1.5vmax;
    max-width: 700px;
}
input[type="radio"] {
    align-self: center;
    margin-right: 10px;
    width: 1.3vmax;
    height: 1.3vmax;
}
#answer_math{
    width: 40%;    
}
#check_answer{
    width: 150px;
    height: 80px;
    font-size: 20px;
}
#calculation{
    font-size: 6vmax;
}
.red{
    border: red solid 5px;
}
.green{
    border: green solid 5px;
}
section{
    margin-right: -15px;
    margin-left: -15px;      
}
.modal{
    display: fixed;
    top: 15%; 
}
video{
    width: 100%;
}
/*Poistaa input nuolet*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
@media only screen and (max-width : 768px) {
    .anim-area i{       
        animation: animate linear 5s infinite !important;
    }
}