/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.3.2020, 21:58:11
    Author     : Teija Lämpsä
*/


/* väärän vastauksen fontin väri tässä*/
.wrong {
    color: darkred;
}
/* oikean vastauksen fontin väri*/
.right {
    color: green;
    font-weight: bold;
}
/* ei näytetä */
.not_visible {
    display: none;
}
/* aloitussivun kuvan koko ja asemointi*/
figure {
    max-width: 50%;
    align-self: center;
}

/* kysymyksen fontin määrittelyt */
.kysymys {
    font-family: 'Mansalva', cursive;
    color: blue;
    font-size: 2.4vmax;
}
/* painikkeiden asemointi*/
.btn{
    margin: 10px;
    color: snow;
}
/* matikkatehtävän "liitutaulu" */
.tehtävä {
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #F0EBD8;
    border: 10px solid darkgoldenrod;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Walter Turncoat', cursive;
    font-size: 60px;
}
/* kertomerkin määrittely*/
.x {
    font-size: 30px;
    vertical-align: middle;
}
/*kysymysten asemointia */
ul {
    padding: 0px;
    list-style-type: none;
}
/*info-tekstin taustaa ja tyyliä */
p.info {
    
    background-color: #ffff66;
    padding: 10px;
    border-style: outset;
}
/* matikkavisan card-elementin väri ja tyyli*/
.card {
    background-color: whitesmoke;
    border-style: none;
}

